@import '../../node_modules/bulma/bulma.sass';

$light: #E5F9E0;
$dark: #465C69;
$accent1: #0B4F6C;
$accent2: #70798C;
$accent3: #577590;


body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', Helvetica,arial;
    color:$light;
    font-weight: bold;
}
@import './breakpoints.scss';
root {
    font-size: 10px;
    overflow-y: auto;
}
@import './hover.scss';
@import './hamburger.scss';
@import'./layout.scss';



.container{
    padding-top:10vh;
    min-height: 90vh;
}