h1{
  font-size: 2.4rem;
}
h2{
  font-size: 2.0rem;
  color:$green;
}
h3{
  font-size: 1.3rem;
}
h4{
  font-size: 1rem;
}
p,a{
  font-size: .8rem;  
}
a{
  color:$green;
}

@include tablet{
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.8rem;
    color:$green;
  }
  h3{
    font-size: 1.6rem;
  }
  h4{
    font-size: 1.2rem;
  }

  p,a{
    font-size: 1.1rem;
  }
}
@include desktop{
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 3.4rem;
    color:$green;
  }
  h3{
    font-size: 1.8rem;
  }
  h4{
    font-size: 1.2rem;
  }
  p,a{
    font-size: 1.1rem;
  }
}
@include widescreen{
  h1{
    font-size: 7rem;
  }
  h2{
    font-size: 4rem;
    color:$green;    
  }
  h3{
    font-size: 2rem;
  }
  h4{
    font-size: 1.4rem;
  }
  p,a{
    font-size: 1.2rem;
  }
}