// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

//Colors
$primary: $white;
$primary-invert: findColorInvert($white);
$outer-space: #424b54;
$outer-space-invert: findColorInvert($outer-space);
$pale-gold: #f1bf98;
$pale-gold-invert: findColorInvert($pale-gold);
$charcoal: #373f51;
$charcoal-invert: findColorInvert($charcoal);
$spanish-grey: #9196A0;
$spanish-grey-invert: findColorInvert($spanish-grey);
$slate-grey: #D6DFDE;
$dark-slate: #214f4b;
$dark-slate-invert: findColorInvert($dark-slate);
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$gold:#F1BF98;
$gold-invert: findColorInvert($gold);
$danger: $orange;
//Fonts
$family-serif: "Merriweather", "Georgia", serif;
$family-primary: $family-serif;

@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
$addColors: (
    
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);





//Navbar
$navbar-item-hover-color:$slate-grey;
$navbar-dropdown-item-hover-color:$slate-grey;
$navbar-dropdown-radius:$radius-small;
$navbar-dropdown-arrow: $slate-grey;
$navbar-item-hover-background-color:transparent;
$navbar-dropdown-item-hover-background-color:transparent;
$navbar-item-color:$white;


//Rest of bulma
@import "../../node_modules/bulma/bulma.sass";




//top-panel
.top-panel{
    background: url('../images/largeHero.jpg');
    background: url('../images/largeHero.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar{
    width: 100%;
    div{
        background-color: transparent;
    }
    .white-back{
        background-color: $white;

        .navbar-item,.navbar-link{
            color: $charcoal;
        }
        .navbar-item:hover,.navbar-link:hover{
            color: $outer-space;
        }
    }
}

.light{
    color:$white;
}


